@tailwind base;
@tailwind components;
@tailwind utilities;

#cursor {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-color: rgb(62,127,245);
  border-width: 2px;
  background-color: transparent;
  pointer-events: none;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1)
}

#background {
  position: absolute;
  width: 100%;
  top: -6%;
  left: -12%;
  z-index: 0;
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply w-32 font-bold bg-gradient-to-r from-purple-600 to-blue-500 text-white px-5 py-1 leading-8 rounded-3xl hover:ring-4 hover:ring-indigo-200 transition-all duration-300
  }

  .menu-item {
    @apply hover:text-purple-900 dark:text-gray-200 font-bold hover:underline cursor-pointer
  }

  .icon-link {
    @apply text-gray-800 hover:text-purple-900 text-xl dark:text-gray-200
  }

  .tech-item {
    @apply text-gray-800 py-1 dark:text-gray-200
  }

  .tech-group {
    @apply lg:w-1/3 text-center shadow-lg p-10 rounded-md my-10 bg-slate-200/40 dark:bg-gray-700
  }

  .tech-group-title {
    @apply text-lg font-bold py-2 text-blue-500 dark:text-blue-400
  }

  .section-title {
    @apply text-3xl py-1 text-purple-700 dark:text-blue-400 font-bold text-center
  }

  .about-card {
    @apply text-center shadow-lg px-10 rounded-md my-10 dark:bg-gray-700
  }
}

.hover-scale:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.shake:hover {
  animation: shake 2.0s linear both;
}

@keyframes shake {
  0%,100%{transform:rotate(0deg);transform-origin:50% 50%}
  10%{transform:rotate(8deg)}20%,40%,60%{transform:rotate(-10deg)}
  30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}
  90%{transform:rotate(8deg)}
}

@supports (background-clip: text) {
  .gradient-text {
    background-image: linear-gradient(60deg, purple, blue);
    background-clip: text;
    color: transparent;
  }
}
