@tailwind base;
@tailwind components;
@tailwind utilities;

#cursor {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-color: rgb(62,127,245);
  border-width: 2px;
  background-color: transparent;
  pointer-events: none;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1)
}

#background {
  position: absolute;
  width: 100%;
  top: -6%;
  left: -12%;
  z-index: 0;
}

.glass {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.header-glass {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

.ellipse1 {
  right: -10rem;
  top: 0;
}

.ellipse3 {
  left: -1rem;
  top: -10rem;
}

.vector2 {
  right: 2rem;
  top: 30rem;
}

.vector3 {
  right: 2rem;
  top: 30rem;
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply w-32 font-bold bg-gradient-to-t from-teal-400 to-transparent border-2 border-teal-400 text-teal-900 dark:text-teal-100 px-5 py-1 leading-8 rounded-3xl hover:ring-4 hover:ring-teal-500 transition-all duration-300 text-center
  }

  .menu-item {
    @apply hover:text-purple-900 dark:text-gray-200 font-bold hover:underline cursor-pointer
  }

  .icon-link {
    @apply text-gray-800 hover:text-purple-900 text-xl dark:text-gray-200
  }

  .tech-item {
    @apply text-gray-800 py-1 dark:text-gray-200
  }

  .tech-subj {
    @apply flex gap-3 justify-center items-center dark:text-gray-200
  }

  .tech-group {
    @apply flex flex-col items-center gap-2 lg:w-1/3 text-center p-10 my-10
  }

  .tech-group-title {
    @apply text-lg font-bold py-2 text-blue-500 dark:text-blue-400
  }

  .section-title {
    @apply text-3xl py-1 text-purple-700 dark:text-blue-400 font-bold text-center
  }

  .about-card {
    @apply text-center px-10 my-10
  }
}

.hover-scale:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.shake:hover {
  animation: shake 2.0s linear both;
}

@keyframes shake {
  0%,100%{transform:rotate(0deg);transform-origin:50% 50%}
  10%{transform:rotate(8deg)}20%,40%,60%{transform:rotate(-10deg)}
  30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}
  90%{transform:rotate(8deg)}
}

@supports (background-clip: text) {
  .gradient-text {
    background-image: linear-gradient(60deg, rgb(91, 0, 91), rgb(0, 0, 200));
    background-clip: text;
    color: transparent;
  }
}
