@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply font-bold bg-gradient-to-r from-purple-600 to-blue-500 text-white px-5 py-1 leading-8 rounded-3xl hover:ring-4 hover:ring-indigo-200 transition-all duration-300
  }

  .menu-item {
    @apply hover:text-purple-900 dark:text-white font-bold hover:underline cursor-pointer
  }

  .icon-link {
    @apply text-gray-800 hover:text-purple-900 text-xl dark:text-white
  }

  .tech-item {
    @apply text-gray-800 py-1 dark:text-white
  }

  .tech-group {
    @apply lg:w-1/4 text-center shadow-lg p-10 rounded-md my-10 dark:bg-gray-700
  }

  .tech-group-title {
    @apply text-lg font-bold py-2 text-blue-500 dark:text-blue-400
  }

  .section-title {
    @apply text-3xl py-1 text-purple-700 dark:text-blue-400 font-bold text-center
  }
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.shake:hover {
  animation: shake 2.0s linear both;
}

@keyframes shake {
  0%,100%{transform:rotate(0deg);transform-origin:50% 50%}
  10%{transform:rotate(8deg)}20%,40%,60%{transform:rotate(-10deg)}
  30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}
  90%{transform:rotate(8deg)}
}

@supports (background-clip: text) {
  .gradient-text {
    background-image: linear-gradient(60deg, purple, blue);
    background-clip: text;
    color: transparent;
  }
}
